{{>nav}}
<div class="container-fluid">
  <h1 class="text-center text-primary" style="margin-top:130px;font-size:4em">Home page</h1>
  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero unde porro perferendis voluptates possimus eos quaerat excepturi totam deleniti voluptatum est, placeat laboriosam optio quidem voluptatem! Ducimus animi, qui delectus eius ipsa quasi quisquam!</p>
  <div class="d-flex justify-content-center">
    {{!-- <a href="/new" class="m-2 btn btn-secondary">Create Article</a> --}}
    <a href="/blogs" class="m-2 btn btn-secondary">New Articles</a>
  </div>
</div>